.top{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.top{
    background-color:beige;
}

.navigator ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    background-color: #f0f0f0; 
    overflow: hidden; 
    display: inline;
}

.navigator li {
    float: left; 
    padding: 10px; 
}

.navigator a {
    display: block; 
    color: #333; 
    text-align: center; 
    padding: 10px 15px; 
    text-decoration: none;
}

.navigator a:hover {
    background-color: #ddd;
    color: #000;
    transition: background-color 0.3s ease; 
}

.navigator a.active {
    background-color: #007bff;
    color: #fff;
}

.h2{
    font-size: 20px;
    color:darkslategray
}

img {
    max-width: 500px;
    margin: 20px;
}

.card {
    background-color:#f0f0f05d;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    width: 300px; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
}

.card img {
    width: 100%; 
    height: 100%; 
    margin-bottom: 1px;
}

.card p {
    margin-bottom: 1px; 
}

.card button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0,0,0,0.4); 
}

.logo{
    width: 30px; 
    height: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="date"],
.modal-content textarea {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.close {
    color: #aaa; 
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table2,
.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

.table2,
.table1 th {
    background-color: #f0f0f0a8; 
    color: #333; 
    padding: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}
.table2,
.table1 td {
    padding: 10px;
    border-bottom: 1px solid #ddd; 
}

.info{
    grid-area: info;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav{
    grid-area: nav;
    background-color:#ddd;
}

.ul{
    list-style-type: none;
}

.text{
    grid-area: text;
    background-color:#aaa;
}

.container {
    width: 100%;
    margin-left: 0px;
    display: grid; 
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "nav text"
        "info info"
}

.footerul li {
    display: inline-block;
    margin-right: 20px;
}